* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family: "Roboto", sans-serif;
  --bg-color-hero-footer: #1F2937;
  --hero-main-font: 48px extra-bold #F9FAF8;
  --hero-navlinks-secondary-font-size: 18px;
  --hero-navlinks-secondary-font-color: #E5E7EB;

  --info-header-font: 36px extra-bold #1F2937;

  --btn-cta-bg: #3882F6;

  --quote-section-bg: #E5E7EB;
  --quote-font: 36px light-italic
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;

  width: 80%;
  height: 60px;
}

section {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

footer {
  background: var(--bg-color-hero-footer);
}

.gtp3__navbar-header-bg {
  background: var(--bg-color-hero-footer);
}

.gtp3__navbar-links-logo {
  display: flex;
  flex: 3;

  /* header-logo-font: 24px #F9FAF8 */
  font-size: 24px;
  color: #F9FAF8;
}

.gtp3__navbar-links {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.gtp3__navbar-links a {  
  color: var(--hero-navlinks-secondary-font-color);
  font-size: var(--hero-navlinks-secondary-font-size);
}

.gtp3__hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 450px;
}


.gpt3__hero-image {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gtp3__hero-image img {
  position: relative;
  right: 0;
  height: 100%;
  width: 100%;
}

.gtp3__hero-content {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}